# disable open telemetry locally
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none
OTEL_TRACES_SAMPLER=always_off

ECOMMERCE_HELPDESK_SERVER_URI=http://pagopa-checkout-identity-provider-mock:8090
ECOMMERCE_HELPDESK_SERVER_READ_TIMEOUT_MILLIS=10000
ECOMMERCE_HELPDESK_SERVER_CONNECTION_TIMEOUT_MILLIS=10000
ECOMMERCE_HELPDESK_API_KEY=apiKey

NODO_TECHNICAL_SUPPORT_SERVER_URI=http://mock:8090
NODO_TECHNICAL_SUPPORT_SERVER_READ_TIMEOUT_MILLIS=10000
NODO_TECHNICAL_SUPPORT_SERVER_CONNECTION_TIMEOUT_MILLIS=10000
NODO_TECHNICAL_SUPPORT_API_KEY=apiKey


MONGO_HOST="localhost"
MONGO_PORT=27017
MONGO_USERNAME=admin
MONGO_PASSWORD=password
MONGO_SSL_ENABLED=false
MONGO_DB_NAME=ecommerce
MONGO_MIN_POOL_SIZE=0
MONGO_MAX_POOL_SIZE=20
MONGO_MAX_IDLE_TIMEOUT_MS=60000
MONGO_CONNECTION_TIMEOUT_MS=1000
MONGO_SOCKET_TIMEOUT_MS=10000
MONGO_SERVER_SELECTION_TIMEOUT_MS=2000
MONGO_WAITING_QUEUE_MS=2000
MONGO_HEARTBEAT_FREQUENCY_MS=5000
MONGO_REPLICA_SET_OPTION="&replicaSet=rs0"

AUTH_LOGIN_REDIRECT_URL=https://weudev.ecommerce.internal.dev.platform.pagopa.it/pagopa-ecommerce-watchdog-deadletter-fe/
AUTH_JWT_VALIDITY_TIME_MINUTES=1440
AUTH_JWT_SECRET_KEY_NAME=testName
AUTH_JWT_SECRET_KEY_PASSWORD=testPass
AUTH_AZURE_KV_ENDPOINT=https://localhost/
AUTH_AZURE_MAX_RETRY=3
AUTH_AZURE_RETRY_DELAY_MILLIS=500